 body {
  margin: 0;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.slotMachine{
  border: 1px solid rgb(172, 51, 51);
  height: 600px;
  width: 500px;
  text-align: center;
  margin: auto; 

  
}

.heading{
 text-align: center;
} 



